/debian/*.log
/debian/*.debhelper
/debian/blabgen-cgi/
/debian/blabgen/
/debian/blabgen-client/
/debian/*.substvars
/debian/files
/pictures
/pictures_tmp
/card_pictures
*.swp
*.swo
/public/client/css/Rot*.otf
/conf/local.ini
/conf/local_admin.ini
/conf/host-*.ini
!/conf/host-example.ini

/ansible/hosts
/junk
